<h1>Mimus#new</h1>
<p>Find me in app/views/mimus/new.html.erb</p>

<%= form_with scope: :mimus, url: mimi_path, local: true do |form| %>
  <div class="form-group">
    <%= form.label :content %><br>
    <%= form.text_area :content, class: 'form-control', rows: "3" %>
  </div>
 
  <p>
    <%= form.submit class: 'btn btn-primary'%>
  </p>
<% end %>

